<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="https://unpkg.com/98.css">-->
        <title>{{ page.title}}</title>
    </head>
<body>
<header class="small">
    <div class="header">
        
    </div>
        <div class="header-nav">
            {% include navigation.html %}
        </div>
</header>