header {
    height: 100vh;
    width: 100%;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 150px;
    grid-gap: 1rem;

    &.small {
        height: 10%;
        justify-content: left;
        grid-template-rows: auto;
    }

    .header-title {
        h1 {
            font: 3rem $fonttitle;
            letter-spacing: 1.4rem;
        }
    }
    .header-nav {
        text-align:left;
        a:after {
            content: "\A";
            white-space: pre-wrap;
          }
        a:hover{
            color: olive;
        }
    }
}

@media only screen and (max-width: 900px) {
 header {
    height: 100vh;
    width: 100%;
    display:grid;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    justify-items: start;
    grid-template-columns: auto;
    grid-gap: 1rem;
    &.small {
        height: 10%;
        justify-content: left;
        grid-template-rows: auto;
    }

    .header-title {
        h1 {
            font: 1rem $fonttitle;
            letter-spacing: 1.1rem;
        }
    }
    .header-nav {
        a {
            text-transform: lowercase;
            font-size: 1rem;
        }
        a:hover{
            color: olive;
        }
    }
}   
}