@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

$bgcolor: #fdfcfa;
$secondarybg: #CCC9CC;
$textcolor: #191919 ;
$fontstack: monospace;
$fonttitle: 'Tomorrow';

* {
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: $bgcolor;
    color: $textcolor;
    font: 1rem $fontstack;
    line-height: 1.6rem;
}

header {
    padding: 1rem 15%;

    h1 {
        font: 3rem $fonttitle;
        letter-spacing: 1.4rem;
    }
}

main {
    width: 60%;
    margin: auto;
    
    p {
        padding: 1rem 1.2rem 0;
    }

    .img-small {
        width:400px;
    }
}

hr {
    color: $secondarybg;
    margin: 2rem 15%;
}

.item {
    display: flex;
    margin-bottom: 1rem;
    
    .image-box{
        flex: 1 0 20%;
        display: flex;
    }
    .description-box{
        flex: 1 0 70%;
        h2 {
            font: 1.5rem $fonttitle;
            margin: 1rem;
        }

    }
}

nav {
    font: 1.5rem $fonttitle;

    a {
        margin: 0 2rem 0 0;
        text-transform: lowercase;
        color: black;
    }
    .current {
        color: olive;
    }
}