@import url('https://fonts.googleapis.com/css?family=Tomorrow|Ubuntu+Mono&display=swap');

$bgcolor: #fdfcfa;
$secondarybg: #CCC9CC;
$textcolor: rgb(25, 25, 25) ;
$linkcolor: olive;
$fontstack: 'Ubuntu Mono';
$fonttitle: 'Tomorrow';

* {
    margin: 0;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    background-color: $bgcolor;
    color: $textcolor;
    font: 1rem $fontstack;
    line-height: 1.6rem;
    height: 100%;
}

main {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    width: 60%;
    margin: auto;
    
    p {
        padding: 1rem 1.2rem 0;
    }

    .img-small {
        width:40%;
    }
}

.full-content {
    height: 100vh;
    padding: 3rem;
}

a {
    color: $linkcolor;

    &:hover {
        color: $textcolor;
        text-decoration: none;
    }
}
.item {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: 30% auto;
    grid-gap: 1rem;
    
    img {
        width:100%;
    }
     
    .description-box{
        h2 {
            font: 1.5rem $fonttitle;
            text-transform: uppercase;
            margin: 1rem;
        }
    }   
}

nav {
    font: 1.5rem $fonttitle;

    a {
        margin: 0 2rem 0 0;
        text-transform: uppercase;
        color: black;
    }
    .current {
        color: $linkcolor;;
    }
}